.btn-add-butterfly {
    text-decoration: none;
    padding: 13px 20px;
    background-color: var(--color-forest-green);
    color: white;
    border-radius: 15px;
}

.btn-add-butterfly:hover {
    background-color: #26531a;
}
