.create-page-title,
.create-page-intro {
    text-align: center;
}

.create-page-intro {
    font-size: 1.2rem;
    margin: 5px 0 15px;
}

.butterfly-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 180px;           
}
