.create-page-title,
.create-page-intro {
    text-align: center;
    padding: 0;
}

.create-page-intro {
    font-size: 15px;
    margin: 5px 0 15px;
}

.big-icon {
    font-size: 150px;
    margin: 0 auto 10px;
    display: block;
    color: var(--color-forest-green);
}