
.cards {
    /* width: 900px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px 30px;
    /* margin: 10% 0; */
    margin: 30px 0;
    color: black;
    animation: fadeIn 0.5s ease-out;
}

span {
    font-weight: 900;
}

.card-content p{
    padding: 0;

    font-size: 15px;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
}

.cards-butterflies {
  position: relative;
  /* width: 400px; */
  width: 380px;
  height: 450px;
  background: linear-gradient(135deg, var(--color-olive-green) 0%, var(--color-terracotta) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-top: 40px; /* espacio para la cinta */
  overflow: hidden;
}

.corner-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  width: 250px;/*prueba*/
  padding: 15px 0px 15px 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.corner-order {
  position: absolute;
  top: 0;
  right: 0;

  /* padding: 15px 30px 15px 0; */
  padding-right: 15px;
  font-size: 0.9em;
  font-style: italic;
  border-bottom-left-radius: 10px;
}

.order-butterfly {
    margin-top: 5px;
}

.img-card{
    /* width: 340px; */
    width: 320px;
    height: 230px;
    background-color: white;
    margin: 13px 30px 0 30px;
}

.img-card img {
    text-align: center;
    /* margin: 10px 30px 0 30px; */
}

.img-butterfly {
    width: 100%;
    height: 230px;
}

.card-content, .btns {
    margin: 20px 30px;
}


/*botones*/
.btns {
    margin: 15px 0 15px 0;
    display: flex;
    gap: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    border-radius: 15px;
}

.btn-ver-detalle {
    background-color: var(--color-card-button-detail);
    color: black;
}

.btn-update {
    background-color: var(--color-card-button-edit);
    color: black;
}

.btn-ver-detalle:hover {
    background-color: #c9c7b9;
}

.btn-update:hover {
    background-color: #ae8a3c;
}

@media only screen and (max-width:541px) {
    .cards-butterflies {
        height: 475px;
    }
    .order-butterfly {
        margin-top: 12px;
    } 

    .card-content p {/*añadido*/
        font-size: 15px;
    }

    .btns {
        font-size: 14px;
    }

    @media only screen and (max-width: 415px){
        .cards-butterflies {
            width: 370px;
        }

        .img-card {
            width: 330px;
            margin: 13px 20px 0 20px;
        }
    
        @media only screen and (max-width: 391px) {
            .name-butterfly {
                font-size: 14px;
            }
            .corner-ribbon {
                width: 230px;
                padding: 17px 0 17px 20px;
            }
        
            .img-card {
                width: 310px;
                margin: 13px 25px 0 25px;
            }
        
            @media only screen and (max-width: 376px) {
                .corner-ribbon {
                    width: 220px;
                }
                .img-card {
                    width: 295px;
                }
            
                .card-content p {
                    font-size: 14px;
                }
            
                @media only screen and (max-width: 361px) {
                    .order-butterfly {
                        margin-top: 10px;
                        font-size: 11px;
                    }
                
                    .img-card {
                        width: 280px;
                    }
                
                    .btns {
                        font-size: 12px;
                    }
                
                    @media screen and (max-width: 345px) {
                        .corner-ribbon {
                            width: 200px;
                        }
                        
                        .img-card {
                            width: 265px;
                        }
                    }
                }
            }
        }
    }
}



