.edit-form-container {
    /* background: red; */
}
.form-style {
    /* background: blue; */}
@media screen and (max-width:1200px){
    .form-style{

        display: flex;
        flex-direction: column;
    }
}
h2{
    text-align: center;
}