form {
    margin: 50px auto;
}
label {
    margin: 5px 10px 5px;
    font-weight: bold;
}
input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px; 
    font-size: 1em;
    display: block;
    margin-bottom: 10px;
}
button[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 50px;
}
